.top-banner {
    color: var(--text_light);
  }
  .heading {
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0.02em;
    padding: 0 0 30px 0;
  }
  .top-banner form {
    position: relative;
    display: flex;
    align-items: center;
  }
   
  .top-banner form input {
    font-size: 2rem;
    height: 40px;
    padding: 5px 5px 10px;
    border-bottom: 1px solid;
  }
  .top-banner form input::placeholder {
    color: lightgrey; 
  }
   
  .top-banner form button {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 15px 20px;
    margin-left: 15px;
    border-radius: 5px;
    background: var(--blue);
    transition: 0.3s ease-in-out;
  }
   
  .top-banner form button:hover {
    background: var(--darkblue);
  }
   
  .top-banner form .msg {
    position: absolute;
    bottom: -40px;
    left: 0;
    max-width: 450px;
    min-height: 40px;
  }
   
  @media screen and (max-width: 700px) {
    .top-banner form {
      flex-direction: column;
    }
     
    .top-banner form input,
    .top-banner form button {
      width: 100%;
    }
   
    .top-banner form button {
      margin: 20px 0 0 0;
    }
     
    .top-banner form .msg {
      position: static;
      max-width: none;
      min-height: 0;
      margin-top: 10px;
    }
  }
  .navbar-offset {
    top:76px;
}
/* search button styling */
.btn {
    background-color: DodgerBlue;
    border: none;
    color: lightblue;
    padding: 12px 12px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }
#weatherBackground {
    padding-top: 50px;
    padding-bottom: 10px;
    background-image: url("../Assets/Images/weather.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#mainDashboard {
    padding-top: 6rem;
    height: 100%
}


#searchContainer {
    /* background-color: rgba(255, 255, 255, 0.65); */
    padding: 2rem;
    margin-left: 100px;
    border-radius: 5px;
    display:block;
    border-radius: 25px;
    border: 2px solid #73AD21;
}
.input[type=text] {
    width: 130px;
    height: 50px;
    box-sizing: border-box;
    border: 4px solid darkblue;
    border-radius: 4px;
    font-size: 16px;
    background-color: dodgerblue;
    background-image: url('searchicon.png');
    background-position: 20px 20px; 
    background-repeat: no-repeat;
    padding: 24px 24px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
.submit {
    width: 130px;
    height: 50px;
    box-sizing: border-box;
    background-color: dodgerblue;
    border: 4px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgb(46, 41, 109);
    background-image: url('searchicon.png');
    background-position: 20px 20px; 
    background-repeat: no-repeat;
    padding: 24px 24px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.historyContainer {
    margin-top: 3rem;
}
.ajax-section {
    margin: 50px 0 20px;
  }
  .ajax-section .cities {
    display: grid;
    grid-gap: 32px 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (max-width: 1000px) { 
    .ajax-section .cities {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (max-width: 700px) {
    .ajax-section .cities {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (max-width: 500px) {  
    .ajax-section .cities {
      grid-template-columns: repeat(1, 1fr);
    }
  }